.cards-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .no {
    background-color: rgb(172, 100, 231);
    box-shadow: rgb(223, 4, 223) 3px 3px 5px;
    margin: 10px;
    width: 300px;
    /* height: 450px; */
    transition: 0.3s;
    border-radius: 15px;
  }
  .image {
    margin-top: 25px;
    transition: 0.4s;
  }
  .no:hover {
    box-shadow: none;
  }
  .image:hover {
    box-shadow: rgb(226, 22, 56) 2px 2px 3px;
  }
  .card {
    background-color: rgb(109, 84, 52);
    box-shadow: seagreen 3px 3px 5px seagreen -3px -3px 5px;
    margin: 10px;
    width: 300px;
    height: 450px;
    transition: 0.3s;
  }
  button {
    background-color: rgb(247, 252, 182);
  }
  button:hover {
    background-color: rgb(39, 144, 230);
    border-radius: 10px;
    box-shadow: rgb(241, 11, 11) 2px 2px 3px;
  }
  .lgn{
    background-color: rgb(219, 233, 230);
  }
  
  .classredux {
    padding-right: 30px;
  }
  #nav a{
    font-size: 20px;
    text-decoration: none;
    padding: 0px 20px 0px 20px;
    color: crimson;
    
  
  }